.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
}
.Heading1 {
  font-family: 'BodoniStd-BookItalic', serif;
  font-size: 70px;
  color: #77328b;
  font-weight: 500;
  margin-bottom: 20px;
}
.selectedLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.description {
  background: #ffffff;
  padding: 60px 40px;
  font-size: 17px;
  width: 280px;
  box-shadow: 1px 5px 20px #9a9a9a;
  margin-left: -125px;
  /* position: absolute;
  right: 0;
  top: 15%; */
}
.discover {
  padding: 13px 30px 11px 30px;
  font-family: 'BodoniStd-BookItalic', serif;
  font-size: 20px;
  border-radius: 0;
  border: 0;
  position: relative;
  overflow: hidden;
  background-color: #252776;
  color: #ffffff;
  margin-top: 50px;
}
.experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.offers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.offerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
}
.memberexclusive {
  opacity: 0.86;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 24%);
  border-radius: 15px 0 0 15px;
  position: absolute;
  /* right: 0;
  top: 10px; */
  padding: 5px 5px 5px 10px;
  color: #000;
  background: #f4f5f6;
  background-size: 14px;
  font-size: 12px;
  margin-left: 250px;
}
.offerType {
  margin-top: 4px;
  color: #333;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.offerName {
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  height: 40px;
  /* overflow: hidden; */
  font-weight: 500;
  /* word-break: break-word; */
  text-align: center;
}
.offerDes {
  margin-top: 6px;
  height: 54px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #666;
}
.offerButton {
  color: #876a20;
  margin-top: 12px;
  min-width: 140px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 14px;
  padding-right: 14px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  text-align: center;
  color: #876a20;
  border: 1px solid;
  cursor: pointer;
}
