.menuBar {
  background-color: #e8e8e8;
  height: 60px;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.navLink {
  color: #333;
  font-size: 14px;
}

.divider {
  font-size: 14px;
  background-color: #999;
}
.navBar {
  background-color: #333;
  height: 50px;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.arrowWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
  justify-content: center;
  color: #ffffff;
}
.arrowWrapper:hover {
  background-color: #ffffff;
  color: #000000;
}
.arrow {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-top: -2px;
}
.arrowHover {
  border: solid #000000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-top: 4px;
}
.down {
  margin-left: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up {
  margin-left: 8px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.contentWrapper {
  display: none;
}
.contentWrapperOnHover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  z-index: 10;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0 20px 100px;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.bookingWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  background-color: hsla(0, 0%, 100%, 0.6);
  margin-top: -110px;
  padding: 10px 15px;
  z-index: 5;
  position: absolute;
  left: 180px;
}
.roomWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 370px;
  z-index: 15;
  background-color: #ffffff;
  padding: 10px;
  position: absolute;
  box-shadow: 0 2px 8px rgb(0 0 0 / 16%);
  margin-top: -75px;
  margin-left: 565px;
}
.roomWrapperHidden {
  display: none;
}
.roomDetails {
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
}
